/* general */
body {
    background: rgb(230, 230, 230);
}

h1 {
    margin-bottom: 25px;
    color: rgb(78, 170, 164);
}

.box > h1 {
    word-wrap: break-word;
}

.box{
    background: white;
    padding: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
    
hr {
    padding: 10px;
}

p {
    margin-bottom: 20px;
}


/* nav bar */
.navbar-brand {
    font-weight: 800;
    color: #fff !important;
    background: rgb(78, 170, 164);
    padding: 10px;
    margin-bottom: -10px; 
    margin-top: -10px;
    margin-left: -20px
} 

.nav-item:hover {
    background-color: lightgrey;
}

.dropdown-toggle {
    align-self: flex-end;
}

.dropdown-menu {
    text-align: end;
}


/* images */
.imagevis {  /*the current vis image page */
    width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.box > imagevis {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

#image {  /* index left image */
    height: 200px;
    width: 200px;
    padding: 8px;
}

.inline { /* index image inline with text */
    float: inline-start;
    margin: 10px 10px 0px 10px;
}

.image { /* images sidebar */
    width: 140px;
    height: 140px;
    padding: 5px;
}

.box > image {
    object-fit: cover;
    width: 50%;
    max-height: 50%;
    }

.compareimage { /* coparison images (special large snowflakes) */
    width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.selectimage:hover { /* hovering over X image */
    border: 3px solid rgb(165, 164, 197);
    cursor: pointer;
}
   
.selected {  /* vis current page's image */
    border: 3px solid rgb(78, 170, 164);
}




/* text for Comparison & Data */
.center {
    text-align: center;
    color: rgb(78, 170, 164);
}

#clicktext {
    font-size: smaller;
}




/* for table */
.table {
    font-size: 11pt; 
}

.table td, th {
    padding: 5px;
}

.table tr:nth-child(even) {
    background: #E0E0E0;
}

.table tr:hover {
    background: silver;
}


/* media query */
@media (max-width: 991px){ /*nav bar*/
    .container-fluid {
        background-color: rgb(78, 170, 164) !important;
        margin-bottom: -5px; 
        margin-top: -5px; 
        background-size: contain;
    }
    .navbar-brand {
        font-weight: 800;
        color: #fff !important;
        background: rgb(78, 170, 164);
        padding: 0px;
        margin-left: 5px;
    }

    .collapse { /* plots = grey*/
        padding-top: 10px;
    }

    .dropdown-menu-right {
        text-align: left;
    }

}

@media (max-width: 768px){ /*small*/
    body {
        background: white;
    }

    h1 {
        margin-bottom: 15px;
        font-size: 20px;
    }

    #clicktext{
        font-size: smaller;
    }

    .center{
        font-size: large;
    }

    .box{
        background: white;
        padding: 10px;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .box > image {
        object-fit: cover;
        width: 50%;
        max-height: 50%;
        }
}